<%= form_with(model: promocion_evento, local: true) do |form| %>
  <% if promocion_evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promocion_evento.errors.count, "error") %> prohibited this promocion_evento from being saved:</h2>

      <ul>
      <% promocion_evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :promocion_evento_nombre %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :promocion_evento_fecha %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :promocion_evento_descripcion %>
  </div>

  <div class="field">
    <%= form.label :periodo_publicacion %>
    <%= form.text_field :periodo_publicacion, id: :promocion_evento_periodo_publicacion %>
  </div>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.text_field :cliente_id, id: :promocion_evento_cliente_id %>
  </div>

  <div class="field">
    <%= form.label :costo %>
    <%= form.text_field :costo, id: :promocion_evento_costo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
