<p id="notice"><%= notice %></p>

<h1>Localidades</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Municipios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localidades.each do |localidade| %>
      <tr>
        <td><%= localidade.nombre %></td>
        <td><%= localidade.municipios %></td>
        <td><%= link_to 'Show', localidade %></td>
        <td><%= link_to 'Edit', edit_localidade_path(localidade) %></td>
        <td><%= link_to 'Destroy', localidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Localidade', new_localidade_path %>
