<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @localidade.nombre %>
</p>

<p>
  <strong>Municipios:</strong>
  <%= @localidade.municipios %>
</p>

<%= link_to 'Edit', edit_localidade_path(@localidade) %> |
<%= link_to 'Back', localidades_path %>
