<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proveedor_servicio.nombre %>
</p>

<p>
  <strong>Telf contacto:</strong>
  <%= @proveedor_servicio.telf_contacto %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @proveedor_servicio.celular %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @proveedor_servicio.direccion %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @proveedor_servicio.localidad %>
</p>

<p>
  <strong>References:</strong>
  <%= @proveedor_servicio.references %>
</p>

<p>
  <strong>Precio min:</strong>
  <%= @proveedor_servicio.precio_min %>
</p>

<p>
  <strong>Precio standard:</strong>
  <%= @proveedor_servicio.precio_standard %>
</p>

<p>
  <strong>Precio max:</strong>
  <%= @proveedor_servicio.precio_max %>
</p>

<p>
  <strong>Garantia:</strong>
  <%= @proveedor_servicio.garantia %>
</p>

<p>
  <strong>Tiempo garantia dias:</strong>
  <%= @proveedor_servicio.tiempo_garantia_dias %>
</p>

<p>
  <strong>Servicio domicilio:</strong>
  <%= @proveedor_servicio.servicio_domicilio %>
</p>

<p>
  <strong>Experiencia:</strong>
  <%= @proveedor_servicio.experiencia %>
</p>

<p>
  <strong>Evaluacion:</strong>
  <%= @proveedor_servicio.evaluacion %>
</p>

<p>
  <strong>Etiquetas busqueda:</strong>
  <%= @proveedor_servicio.etiquetas_busqueda %>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @proveedor_servicio.detalles %>
</p>

<p>
  <strong>Estado activo:</strong>
  <%= @proveedor_servicio.estado_activo %>
</p>

<p>
  <strong>Valido hasta:</strong>
  <%= @proveedor_servicio.valido_hasta %>
</p>

<p>
  <strong>Cuota pagada:</strong>
  <%= @proveedor_servicio.cuota_pagada %>
</p>

<p>
  <strong>Float:</strong>
  <%= @proveedor_servicio.float %>
</p>

<p>
  <strong>Tipo cliente:</strong>
  <%= @proveedor_servicio.tipo_cliente %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @proveedor_servicio.categoria %>
</p>

<%= link_to 'Edit', edit_proveedor_servicio_path(@proveedor_servicio) %> |
<%= link_to 'Back', proveedor_servicios_path %>
