<%= form_with(model: encuestum, local: true) do |form| %>
  <% if encuestum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encuestum.errors.count, "error") %> prohibited this encuestum from being saved:</h2>

      <ul>
      <% encuestum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :encuestum_nombre %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :encuestum_fecha %>
  </div>

  <div class="field">
    <%= form.label :pregunta %>
    <%= form.text_field :pregunta, id: :encuestum_pregunta %>
  </div>

  <div class="field">
    <%= form.label :puntuacion %>
    <%= form.text_field :puntuacion, id: :encuestum_puntuacion %>
  </div>

  <div class="field">
    <%= form.label :aspectoEvaluar %>
    <%= form.text_field :aspectoEvaluar, id: :encuestum_aspectoEvaluar %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
