<p id="notice"><%= notice %></p>

<h1>Publicidads</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Periodo publicaciÇün</th>
      <th>Cliente</th>
      <th>Costo</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publicidads.each do |publicidad| %>
      <tr>
        <td><%= publicidad.nombre %></td>
        <td><%= publicidad.periodo_publicaciÇün %></td>
        <td><%= publicidad.cliente %></td>
        <td><%= publicidad.costo %></td>
        <td><%= publicidad.descripcion %></td>
        <td><%= link_to 'Show', publicidad %></td>
        <td><%= link_to 'Edit', edit_publicidad_path(publicidad) %></td>
        <td><%= link_to 'Destroy', publicidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publicidad', new_publicidad_path %>
